<div id="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Bingo Combo</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon16 icomoon-icon-arrow-4"></span>
			</button>
		</div> 
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="dashboard.html"><span class="icon16 icomoon-icon-home"></span> <span class="txt">Home</span></a>
				</li>
				<li>
					<a href="dashboard.html"><span class="icon16 icomoon-icon-coin"></span> <span class="txt">Sales</span></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="icon16 icomoon-icon-envelop"></span><span class="txt">Messages</span><span class="notification">8</span>
					</a>
					<ul class="dropdown-menu">
						<li class="menu">
							<ul class="messages">    
								<li class="header"><strong>Messages</strong> (10) emails and (2) PM</li>
								<li>
								   <span class="icon"><span class="icon16 icomoon-icon-user-plus"></span></span>
									<span class="name"><a data-toggle="modal" href="#myModal1"><strong>Sammy Morerira</strong></a><span class="time">35 min ago</span></span>
									<span class="msg">I have question about new function ...</span>
								</li>
								<li>
								   <span class="icon avatar"><img src="/public/images/avatar.jpg" alt="" /></span>
									<span class="name"><a data-toggle="modal" href="#myModal1"><strong>George Michael</strong></a><span class="time">1 hour ago</span></span>
									<span class="msg">I need to meet you urgent please call me ...</span>
								</li>
								<li>
									<span class="icon"><span class="icon16 icomoon-icon-envelop"></span></span>
									<span class="name"><a data-toggle="modal" href="#myModal1"><strong>Ivanovich</strong></a><span class="time">1 day ago</span></span>
									<span class="msg">I send you my suggestion, please look and ...</span>
								</li>
								<li class="view-all"><a href="#">View all messages <span class="icon16 icomoon-icon-arrow-right-8"></span></a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		  
			<ul class="nav navbar-right usernav">
				<li><a href="#"><span class="icon16 icomoon-icon-cog"></span><span class="txt"> Settings</span></a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	</nav><!-- /navbar --> 

</div><!-- End #header -->
<div id="content">
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 iconic-icon-lightbulb"></span>
						<span>Information</span>
					</h4>
				</div>
				<div class="panel-body">
					<p>panel container with icon in title</p>
				</div>
			</div><!-- End .panel -->
		</div><!-- End .span4 -->
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 minia-icon-bars-2"></span>
						<span>Sales Summary</span>
					</h4>
				</div>
				<div class="panel-body">
					<p>panel container with icon in title</p>
				</div>
			</div><!-- End .panel -->
		</div><!-- End .span4 -->
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 icomoon-icon-grid-2"></span>
						<span>Games</span>
					</h4>
				</div>
				<div class="panel-body">
					<button class="btn btn-danger btn-block" type="button">Bingo Combo</button>
					<button class="btn btn-default btn-block" type="button">6/42-55 Game</button>
				</div>
			</div><!-- End .panel -->
		</div><!-- End .span4 -->
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 icomoon-icon-dice"></span>
						<span>Bets</span>
					</h4>
				</div>
				<div class="panel-body bc-table">
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						  <tr>
							<th>#</th>
							<th>Date</th>
							<th>Type</th>
							<th>1st</th>
							<th>2nd</th>
							<th>3rd</th>
							<th>4th</th>
							<th>5th</th>
							<th>6th</th>
							<th>Amount</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>1</td>
							<td>12/12/86</td>
							<td>Bingo Combo</td>
							<td>44</td>
							<td>5</td>
							<td>6</td>
							<td>3</td>
							<td>2</td>
							<td>1</td>
							<td>$10</td>
						  </tr>
						  <tr>
							<td>2</td>
							<td>12/12/86</td>
							<td>Bingo Combo</td>
							<td>22</td>
							<td>3</td>
							<td>16</td>
							<td>7</td>
							<td>5</td>
							<td>1</td>
							<td>$10</td>
						  </tr>
						  <tr>
							<td>2</td>
							<td>12/12/86</td>
							<td>Bingo Combo</td>
							<td>22</td>
							<td>3</td>
							<td>16</td>
							<td>7</td>
							<td>5</td>
							<td>1</td>
							<td>$10</td>
						  </tr>
						  <tr>
							<td>2</td>
							<td>12/12/86</td>
							<td>Bingo Combo</td>
							<td>22</td>
							<td>3</td>
							<td>16</td>
							<td>7</td>
							<td>5</td>
							<td>1</td>
							<td>$10</td>
						  </tr>
						</tbody>
					</table>
					<span class="text-info">To delete bet, Select an item then press DELETE key.</span>
				</div>
			</div><!-- End .panel -->
		</div><!-- End .span4 -->
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 icomoon-icon-grid-2"></span>
						<span>Menu</span>
					</h4>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary btn-block" type="button">Add Bet</button>
					<button class="btn btn-primary btn-block" type="button">Clear Bet</button>
					<button class="btn btn-primary btn-block" type="button">Print Receipt</button>
					<button class="btn btn-primary btn-block" type="button">Void Bet</button>
					<button class="btn btn-primary btn-block" type="button">Validate</button>
					<button class="btn btn-primary btn-block" type="button">Advance Betting</button>
				</div>
			</div><!-- End .panel -->
		</div><!-- End .span4 -->
	</div>
	
</div>