.panel .panel-body.bc-table{
	padding: 0;
}
.panel .panel-body.bc-table table{
	overflow-y: scroll;
}
.station-info ul.list-unstyled{
	margin: 0;
	padding: 0;
}
.station-info ul.list-unstyled li:last-child{
	margin-bottom: 0;
}
#row-info .panel-body{
	height: 110px;
	max-height: 110px;
	overflow: hidden;
}
.sales-summary .summary{
	
}
.sales-summary .txt{
}
.sales-summary .summary .game{
	text-align: center;
}
.sales-summary .summary .game .number{
	padding-top: 20px;
}
.sales-summary .sales-value{
	font-size: 20px;
	font-weight: 700;
}
.sales-summary .sales-percent{

}
.sales-summary .sales-percent span.icon24{
	color: #9fc569 !important;
	margin-left: 0;
	margin-right: -4px;
}
#row-info .panel-body.game-buttons{
	
}
/**BET POPUP**/
.bet-input{
	font-weight: 700;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
#bet-draw-date-text{
	font-size: 20px;
	margin: 2px 0 0;
	padding-right: 20px;
}

/**MODAL**/
.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
}
.modal-content {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  position:absolute;
  top:45px;
  bottom:45px;
  left:0;
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.modal-add-bet{
	height: 575px;
	width: 500px;
	z-index:2000;
}
.modal-add-bet .modal-body{
	height: 350px;
	overflow: hidden;
}
/**PANEL**/
.panel.panel-pop{
	margin: 0 0 10px;
	min-height: 0;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
#poptest{
	display: none;
width: 300px;
}